:root {
    line-height: 1.5;
    background-color:black;
  }
  
  
  h1{
    font-family:fantasy;
    font-size: 5rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }
  
  button {
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bolder;
    font-family: inherit;
    background-color: #87f2fe;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 4px;
  }
  #board{
    width: 100%;
    background-color: pink;
    font-family:fantasy;
    border: solid 3px white;
    font-size: 20px;
  }
  
  #tbl{
    width: 100%;
    margin-top: 10px;
    background-color:white;
    font-family:fantasy;
    border:solid 3px white;
    visibility: hidden;
  }
  #trp{
    width: 60%;
    background-color: #5dc9d5;
    font-family:fantasy;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    height: 100px;
  }
  .grid-item {
    padding: 20px;
    font-size: 1em;
    text-align: center;
  }
  p{word-spacing: 15px;}
  
  #newPlayer{
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 300px;
    max-width: 90%;
    margin: 50px auto;
    position:relative;
    z-index:10;
    font-size: 20px;
    display: none;
  }
  .exit{
    cursor: pointer;
  }
  .exit::after{
    content:'❌';
    margin-left: 270px;
  }
  
  #loginplayers{
    display: block;
  }
  #game{
    display: none;
  }
  .exitorgame{
    display: none;
  }
  
  .box{
    border:solid 3px white;
    pointer-events:all;
    opacity: 100%;
    display: block;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 30px #52d0de;
    }
    to {
      text-shadow: 0 0 50px #5dc9d5, 0 0 10px #87f2fe;
    }
  }
  
  
  
  
  
