body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  .WelcomeContainer {
    margin-left: 460px;  
}
  
 .title {
    font-family:fantasy;
    font-size: 5rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }
  
  .WelcomeB{
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bolder;
    font-family: inherit;
    background-color:#3FA649;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 40px;
  }
  #board{
    width: 100%;
    background-color: pink;
    font-family:fantasy;
    border: solid 3px white;
  }
  tr,td{
    border: solid 15px white;
  }
  #trb{
    width: 60%;
    background-color: palevioletred;
    font-family:fantasy;
  }
  #tbl{
    width: 100%;
    margin-top: 10px;
    background-color:#5dc9d5;
    font-family:fantasy;
    border:solid 3px white;
    visibility: hidden;
  }
  #trp{
    width: 60%;
    background-color: #033e45;
    font-family:fantasy;
  }
  h2{
    font-weight:500;
    font-family:fantasy;
  }
  h3{
    color:white;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    height: 100px;
  }
  .grid-item {
    padding: 20px;
    font-size: 1em;
    text-align: center;
  }
  #newPlayer{
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 300px;
    max-width: 90%;
    margin: 50px auto;
    position:relative;
    z-index:10;
    font-size: 20px;
    display: none;
  }
  .exit{
    cursor: pointer;
  }
  .exit::after{
    content:'❌';
    margin-left: 270px;
  }
  .clickhere{
    background-color:lightblue;
    color: mediumblue;
    text-decoration: underline;
    padding: 0.3em 0.5em;
  }
  .addbtn{
    padding: 0.3em 0.5em;
  }
  #loginplayers{
    display: block;
  }
  #game{
    display: none;
  }
  .grid-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-i {
    background-color: rgba(255, 255, 255, 0.8);
    color: #87f2fe;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .box{
    border:solid 3px white;
    pointer-events:none;
    opacity: 50%;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 30px #3FA649;
    }
    to {
      text-shadow: 0 0 50px #3FA649, 0 0 10px #3FA649;
    }
  }
  
  
  
  
  