body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  .WelcomeContainer {
    margin-left: 460px;  
}
  
 .title {
    font-family:fantasy;
    font-size: 5rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }
  
  .WelcomeB{
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bolder;
    font-family: inherit;
    background-color: lightgrey;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 40px;
  }

  
  
  
  
  